@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg                  : hsl(268, 75%, 9%);
    --color-toggle-bg           : hsl(268, 71%, 12%);
    --color-screen-bg           : hsl(268, 71%, 12%);
    --color-key-bg              : hsl(268, 47%, 21%);
    --color-key-shadow          : hsl(290, 70%, 36%);
    --color-key-secondary-bg    : hsl(281, 89%, 26%);
    --color-key-secondary-shadow: hsl(285, 91%, 52%);
    --color-equal-bg            : hsl(176, 100%, 44%);
    --color-equal-shadow        : hsl(177, 92%, 70%);
    --color-text-primary        : hsl(52, 100%, 62%);
    --color-text-keys           : hsl(52, 100%, 62%);
    --color-text-keys-secondary : hsl(0, 0%, 100%);
    --color-text-keys-tertiary  : hsl(198, 20%, 13%);
  }
  .theme-1 {
    --color-bg                  : hsl(222, 26%, 31%);
    --color-toggle-bg           : hsl(223, 31%, 20%);
    --color-screen-bg           : hsl(224, 36%, 15%);
    --color-key-bg              : hsl(30, 25%, 89%);
    --color-key-shadow          : hsl(28, 16%, 65%);
    --color-key-secondary-bg    : hsl(225, 21%, 49%);
    --color-key-secondary-shadow: hsl(224, 28%, 35%);
    --color-equal-bg            : hsl(6, 63%, 50%);
    --color-equal-shadow        : hsl(6, 70%, 34%);
    --color-text-primary        : hsl(0, 0%, 100%);
    --color-text-keys           : hsl(221, 14%, 31%);
    --color-text-keys-secondary : hsl(0, 0%, 100%);
    --color-text-keys-tertiary  : hsl(0, 0%, 100%);
  }
  .theme-2 {
    --color-bg                  : hsl(0, 0%, 90%);
    --color-toggle-bg           : hsl(0, 5%, 81%);
    --color-screen-bg           : hsl(0, 0%, 93%);
    --color-key-bg              : hsl(45, 7%, 89%);
    --color-key-shadow          : hsl(35, 11%, 61%);
    --color-key-secondary-bg    : hsl(185, 42%, 37%);
    --color-key-secondary-shadow: hsl(185, 58%, 25%);
    --color-equal-bg            : hsl(25, 98%, 40%);
    --color-equal-shadow        : hsl(25, 99%, 27%);
    --color-text-primary        : hsl(60, 10%, 19%);
    --color-text-keys           : hsl(60, 10%, 19%);
    --color-text-keys-secondary : hsl(0, 0%, 100%);
    --color-text-keys-tertiary  : hsl(0, 0%, 100%);
  }
}