a {
  color: var(--color-white);
  position: relative;
  text-decoration: none;
}
a:before {
  background-color: hsl(273, 75%, 66%);
  bottom: -0.25rem;
  content: '';
  height: 1px;
  left: 0;
  margin-left: 0rem;
  padding: 0;
  position: absolute;
  transition: all var(--transition);
  width: 100%;
  z-index: -1;
}
a:hover:before {
  height: calc(100% + 0.5rem);
  margin-left: -0.25rem;
  padding: 0 0.5rem;
}
h1 {
  font-size: 2.6rem;
}
