:root {
  --color-bright-blue: hsl(220, 98%, 61%);
  --color-gradient-from: hsl(192, 100%, 67%);
  --color-gradient-to: hsl(280, 87%, 65%);
  --gradient: linear-gradient(
    var(--color-gradient-from),
    var(--color-gradient-to)
  );
  --light-color-very-light-gray: hsl(0, 0%, 98%);
  --light-color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-color-light-grayish-blue: hsl(233, 11%, 84%);
  --light-color-dark-grayish-blue: hsl(236, 9%, 61%);
  --light-color-very-dark-grayish-blue: hsl(235, 19%, 35%);

  --dark-color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dark-color-very-dark-blue: hsl(235, 21%, 11%);
  --dark-color-light-grayish-blue: hsl(234, 15%, 75%);
  --dark-color-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-color-dark-grayish-blue: hsl(234, 11%, 52%);
  --dark-color-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --dark-color-very-dark-grayish-blue: hsl(237, 14%, 26%);

  --color-white: #fff;
  --transition: 0.2s;
}
