.filter {
  display: flex;
  justify-content: center;
}
.filter button {
  background: transparent;
  border: none;
  color: var(--light-color-very-dark-grayish-blue);
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.875rem 0.6rem;
  transition: color var(--transition);
}
.filter button.current {
  color: var(--color-bright-blue);
}
html.dark .filter button:not(.current) {
  color: var(--dark-color-light-grayish-blue);
}
@media (min-width: 375px) {
  .filter button {
    font-size: 1rem;
  }
}
