.hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero .message {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1200px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero .message {
    gap: 0.85rem;
    margin-top: 0.15rem;
    width: 26.8rem;
  }
  .hero .message h1 {
    font-size: 2.95rem;
    line-height: 3rem;
    text-align: left;
  }
  .hero p {
    font-size: 0.89rem;
    text-align: left;
  }
}
