a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}
a:hover {
  opacity: 1;
  text-decoration: underline;
}
b {
  font-weight: 700;
}
.color-light {
  color: var(--color-gray-300);
}
.font-size-small {
  font-size: 0.75rem;
}
.font-size-medium {
  font-size: 0.875rem;
}
